helpme/Connected Services/ServiceReference1/ProductDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductDataService" targetNamespace="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ProductDataServiceBinding_ProductDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" />
      <xs:element name="GetProductRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q1:wsVersion" />
            <xs:element xmlns:q2="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q2:id" />
            <xs:element xmlns:q3="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q3:password" />
            <xs:element xmlns:q4="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q4:localizationCountry" />
            <xs:element xmlns:q5="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q5:localizationLanguage" />
            <xs:element xmlns:q6="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q6:productId" />
            <xs:element xmlns:q7="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q7:partId" />
            <xs:element xmlns:q8="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q8:colorName" />
            <xs:element xmlns:q9="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q9:ApparelSizeArray" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Product">
              <xs:complexType>
                <xs:sequence>
                  <xs:element xmlns:q10="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q10:productId" />
                  <xs:element xmlns:q11="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q11:productName" />
                  <xs:element xmlns:q12="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="unbounded" ref="q12:description" />
                  <xs:element xmlns:q13="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q13:priceExpiresDate" />
                  <xs:element xmlns:q14="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="ProductMarketingPointArray" type="q14:ArrayOfProductMarketingPoint" />
                  <xs:element xmlns:q15="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="ProductKeywordArray" type="q15:ArrayOfProductKeyword" />
                  <xs:element xmlns:q16="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q16:productBrand" />
                  <xs:element minOccurs="1" maxOccurs="1" name="export" nillable="true" type="xs:boolean" />
                  <xs:element xmlns:q17="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="ProductCategoryArray" type="q17:ArrayOfProductCategory" />
                  <xs:element xmlns:q18="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="RelatedProductArray" type="q18:ArrayOfRelatedProduct" />
                  <xs:element xmlns:q19="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q19:primaryImageUrl" />
                  <xs:element xmlns:q20="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="ProductPriceGroupArray" type="q20:ArrayOfProductPriceGroup" />
                  <xs:element xmlns:q21="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q21:complianceInfoAvailable" />
                  <xs:element minOccurs="0" maxOccurs="1" name="unspscCommodityCode" type="xs:int" />
                  <xs:element xmlns:q22="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q22:LocationDecorationArray" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ProductPartArray" type="tns:ArrayOfProductProductPart" />
                  <xs:element minOccurs="1" maxOccurs="1" name="lastChangeDate" type="xs:dateTime" />
                  <xs:element minOccurs="1" maxOccurs="1" name="creationDate" type="xs:dateTime" />
                  <xs:element xmlns:q23="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q23:endDate" />
                  <xs:element xmlns:q24="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q24:effectiveDate" />
                  <xs:element xmlns:q25="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q25:isCaution" />
                  <xs:element xmlns:q26="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q26:cautionComment" />
                  <xs:element xmlns:q27="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q27:isCloseout" />
                  <xs:element xmlns:q28="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q28:lineName" />
                  <xs:element xmlns:q29="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q29:defaultSetupCharge" />
                  <xs:element xmlns:q30="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q30:defaultRunCharge" />
                  <xs:element xmlns:q31="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q31:imprintSize" />
                  <xs:element xmlns:q32="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q32:FobPointArray" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element xmlns:q33="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q33:ServiceMessageArray" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfProductProductPart">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPart">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:q34="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q34:partId" />
                <xs:element minOccurs="0" maxOccurs="1" name="primaryColor">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element xmlns:q35="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q35:Color" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element xmlns:q36="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="unbounded" ref="q36:description" />
                <xs:element xmlns:q37="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q37:countryOfOrigin" />
                <xs:element xmlns:q38="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="ColorArray" type="q38:ArrayOfColor" />
                <xs:element xmlns:q39="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q39:primaryMaterial" />
                <xs:element xmlns:q40="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="SpecificationArray" type="q40:ArrayOfSpecification" />
                <xs:element xmlns:q41="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q41:shape" />
                <xs:element xmlns:q42="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q42:ApparelSize" />
                <xs:element xmlns:q43="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q43:Dimension" />
                <xs:element minOccurs="0" maxOccurs="1" name="leadTime" type="xs:int" />
                <xs:element xmlns:q44="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q44:unspsc" />
                <xs:element xmlns:q45="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q45:gtin" />
                <xs:element xmlns:q46="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q46:isRushService" />
                <xs:element xmlns:q47="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="ProductPackagingArray" type="q47:ArrayOfProductPackage" />
                <xs:element xmlns:q48="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" name="ShippingPackageArray" type="q48:ArrayOfShippingPackage" />
                <xs:element xmlns:q49="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q49:endDate" />
                <xs:element xmlns:q50="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q50:effectiveDate" />
                <xs:element xmlns:q51="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q51:isCloseout" />
                <xs:element xmlns:q52="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q52:isCaution" />
                <xs:element xmlns:q53="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q53:cautionComment" />
                <xs:element xmlns:q54="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q54:nmfcCode" />
                <xs:element xmlns:q55="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q55:nmfcDescription" />
                <xs:element xmlns:q56="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q56:nmfcNumber" />
                <xs:element xmlns:q57="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q57:isOnDemand" />
                <xs:element xmlns:q58="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q58:isHazmat" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetProductDateModifiedRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q59="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q59:wsVersion" />
            <xs:element xmlns:q60="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q60:id" />
            <xs:element xmlns:q61="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q61:password" />
            <xs:element xmlns:q62="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q62:changeTimeStamp" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProductDateModifiedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ProductDateModifiedArray" type="tns:ArrayOfProductDateModified" />
            <xs:element xmlns:q63="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q63:ServiceMessageArray" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfProductDateModified">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDateModified">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:q64="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q64:productId" />
                <xs:element xmlns:q65="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q65:partId" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetProductCloseOutRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q66="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q66:wsVersion" />
            <xs:element xmlns:q67="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q67:id" />
            <xs:element xmlns:q68="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q68:password" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProductCloseOutResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ProductCloseOutArray" type="tns:ArrayOfProductCloseOut" />
            <xs:element xmlns:q69="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q69:ServiceMessageArray" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfProductCloseOut">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCloseOut">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:q70="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q70:productId" />
                <xs:element xmlns:q71="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q71:partId" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetProductSellableRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q72="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q72:wsVersion" />
            <xs:element xmlns:q73="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q73:id" />
            <xs:element xmlns:q74="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q74:password" />
            <xs:element xmlns:q75="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q75:localizationCountry" />
            <xs:element xmlns:q76="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q76:localizationLanguage" />
            <xs:element xmlns:q77="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q77:productId" />
            <xs:element xmlns:q78="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q78:partId" />
            <xs:element xmlns:q79="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q79:lineName" />
            <xs:element xmlns:q80="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="1" maxOccurs="1" ref="q80:isSellable" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetProductSellableResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ProductSellableArray" type="tns:ArrayOfGetProductSellableResponseProductSellable" />
            <xs:element xmlns:q81="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q81:ServiceMessageArray" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfGetProductSellableResponseProductSellable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSellable">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:q82="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q82:productId" />
                <xs:element xmlns:q83="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q83:partId" />
                <xs:element xmlns:q84="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" minOccurs="0" maxOccurs="1" ref="q84:culturePoint" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.isotc211.org/iso4217/" />
      <xs:import namespace="http://www.codesynthesis.com/xmlns/xsstl" />
      <xs:element name="wsVersion" type="xs:token" />
      <xs:element name="id" type="xs:token" />
      <xs:element name="password" type="xs:token" />
      <xs:element name="localizationCountry" type="xs:token" />
      <xs:element name="localizationLanguage" type="xs:token" />
      <xs:element name="productId" type="xs:token" />
      <xs:element name="partId" type="xs:token" />
      <xs:element name="colorName" type="xs:token" />
      <xs:element name="ApparelSizeArray" type="tns:ArrayOfApparelSize" />
      <xs:complexType name="ArrayOfApparelSize">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ApparelSize">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="apparelStyle" type="tns:ApparelSizeApparelStyle" />
                <xs:element minOccurs="1" maxOccurs="1" name="labelSize" type="tns:ApparelSizeLabelSize" />
                <xs:element minOccurs="0" maxOccurs="1" name="customSize" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ApparelSizeApparelStyle">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unisex" />
          <xs:enumeration value="Youth" />
          <xs:enumeration value="Girls" />
          <xs:enumeration value="Boys" />
          <xs:enumeration value="Womens" />
          <xs:enumeration value="WomensTall" />
          <xs:enumeration value="Mens" />
          <xs:enumeration value="MensTall" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ApparelSizeLabelSize">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OSFA" />
          <xs:enumeration value="6XS" />
          <xs:enumeration value="5XS" />
          <xs:enumeration value="4XS" />
          <xs:enumeration value="3XS" />
          <xs:enumeration value="2XS" />
          <xs:enumeration value="XS" />
          <xs:enumeration value="S" />
          <xs:enumeration value="M" />
          <xs:enumeration value="L" />
          <xs:enumeration value="XL" />
          <xs:enumeration value="2XL" />
          <xs:enumeration value="3XL" />
          <xs:enumeration value="4XL" />
          <xs:enumeration value="5XL" />
          <xs:enumeration value="6XL" />
          <xs:enumeration value="CUSTOM" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="productName" type="xs:token" />
      <xs:element name="description" type="xs:token" />
      <xs:element name="priceExpiresDate" nillable="true" type="xs:dateTime" />
      <xs:complexType name="ArrayOfProductMarketingPoint">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductMarketingPoint">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="pointType" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="pointCopy" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfProductKeyword">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductKeyword">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="keyword" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="productBrand" type="xs:token" />
      <xs:complexType name="ArrayOfProductCategory">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="category" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="subCategory" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfRelatedProduct">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RelatedProduct">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="relationType" type="tns:RelatedProductRelationType" />
                <xs:element minOccurs="0" maxOccurs="1" name="productId" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="partId" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="RelatedProductRelationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Substitute" />
          <xs:enumeration value="Companion Sell" />
          <xs:enumeration value="Common Grouping" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="primaryImageUrl" type="xs:token" />
      <xs:complexType name="ArrayOfProductPriceGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPriceGroup">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="ProductPriceArray" type="tns:ArrayOfProductPrice" />
                <xs:element minOccurs="0" maxOccurs="1" name="groupName" type="xs:token" />
                <xs:element xmlns:q1="http://www.isotc211.org/iso4217/" minOccurs="1" maxOccurs="1" name="currency" type="q1:CurrencyCodeType" />
                <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfProductPrice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPrice">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="quantityMin" type="xs:int" />
                <xs:element minOccurs="0" maxOccurs="1" name="quantityMax" type="xs:int" />
                <xs:element minOccurs="1" maxOccurs="1" name="price" type="xs:decimal" />
                <xs:element minOccurs="0" maxOccurs="1" name="discountCode" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="complianceInfoAvailable" nillable="true" type="xs:boolean" />
      <xs:element name="LocationDecorationArray" type="tns:ArrayOfLocationDecorationArrayLocationDecoration" />
      <xs:complexType name="ArrayOfLocationDecorationArrayLocationDecoration">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationDecoration">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="locationName" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="maxImprintColors" type="xs:int" />
                <xs:element minOccurs="0" maxOccurs="1" name="decorationName" type="xs:token" />
                <xs:element minOccurs="1" maxOccurs="1" name="locationDecorationComboDefault" type="xs:boolean" />
                <xs:element minOccurs="1" maxOccurs="1" name="priceIncludes" type="xs:boolean" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Color">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="standardColorName" type="xs:token" />
            <xs:element minOccurs="0" maxOccurs="1" name="hex" type="xs:token" />
            <xs:element minOccurs="0" maxOccurs="1" name="approximatePms" type="xs:token" />
            <xs:element minOccurs="0" maxOccurs="1" name="colorName" type="xs:token" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q2="http://www.codesynthesis.com/xmlns/xsstl" name="countryOfOrigin" type="q2:countryOfOrigin" />
      <xs:complexType name="ArrayOfColor">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Color">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="standardColorName" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="hex" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="approximatePms" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="colorName" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="primaryMaterial" type="xs:token" />
      <xs:complexType name="ArrayOfSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Specification">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="specificationType" type="tns:SpecificationSpecificationType" />
                <xs:element minOccurs="1" maxOccurs="1" name="SpecificationUom" nillable="true" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="measurementValue" type="xs:token" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SpecificationSpecificationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Length" />
          <xs:enumeration value="Thickness" />
          <xs:enumeration value="Radius" />
          <xs:enumeration value="Volume" />
          <xs:enumeration value="Capacity" />
          <xs:enumeration value="Memory" />
          <xs:enumeration value="Data Ports" />
          <xs:enumeration value="Capacitance" />
          <xs:enumeration value="Voltage" />
          <xs:enumeration value="Point Size" />
          <xs:enumeration value="Sheet Size" />
          <xs:enumeration value="Sheet Count" />
          <xs:enumeration value="Pockets" />
          <xs:enumeration value="Inseam" />
          <xs:enumeration value="Bust" />
          <xs:enumeration value="Chest" />
          <xs:enumeration value="Waist" />
          <xs:enumeration value="Hips" />
          <xs:enumeration value="Cup" />
          <xs:enumeration value="Rise" />
          <xs:enumeration value="Neck" />
          <xs:enumeration value="Thigh" />
          <xs:enumeration value="Shoulders" />
          <xs:enumeration value="Sleeve" />
          <xs:enumeration value="Device Size" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="shape" type="xs:token" />
      <xs:element name="ApparelSize">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="apparelStyle" type="tns:ApparelSizeApparelStyle" />
            <xs:element minOccurs="1" maxOccurs="1" name="labelSize" type="tns:ApparelSizeLabelSize" />
            <xs:element minOccurs="0" maxOccurs="1" name="customSize" type="xs:token" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Dimension">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="dimensionUom" type="tns:dimensionUom" />
            <xs:element minOccurs="1" maxOccurs="1" name="depth" nillable="true" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="height" nillable="true" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="width" nillable="true" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="weightUom" type="tns:weightUom" />
            <xs:element minOccurs="1" maxOccurs="1" name="weight" nillable="true" type="xs:decimal" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:simpleType name="dimensionUom">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MM" />
          <xs:enumeration value="CM" />
          <xs:enumeration value="MR" />
          <xs:enumeration value="IN" />
          <xs:enumeration value="FT" />
          <xs:enumeration value="YD" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="weightUom">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ME" />
          <xs:enumeration value="KG" />
          <xs:enumeration value="OZ" />
          <xs:enumeration value="LB" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="unspsc" type="xs:token" />
      <xs:element name="gtin" type="xs:token" />
      <xs:element name="isRushService" nillable="true" type="xs:boolean" />
      <xs:complexType name="ArrayOfProductPackage">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPackage">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="default" type="xs:boolean" />
                <xs:element minOccurs="0" maxOccurs="1" name="packageType" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:token" />
                <xs:element minOccurs="1" maxOccurs="1" name="quantity" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="dimensionUom" type="tns:dimensionUom" />
                <xs:element minOccurs="1" maxOccurs="1" name="depth" nillable="true" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="height" nillable="true" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="width" nillable="true" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="weightUom" type="tns:weightUom" />
                <xs:element minOccurs="1" maxOccurs="1" name="weight" nillable="true" type="xs:decimal" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfShippingPackage">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ShippingPackage">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="packageType" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:token" />
                <xs:element minOccurs="1" maxOccurs="1" name="quantity" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="dimensionUom" type="tns:dimensionUom" />
                <xs:element minOccurs="1" maxOccurs="1" name="depth" nillable="true" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="height" nillable="true" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="width" nillable="true" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="weightUom" type="tns:weightUom" />
                <xs:element minOccurs="1" maxOccurs="1" name="weight" nillable="true" type="xs:decimal" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="endDate" nillable="true" type="xs:dateTime" />
      <xs:element name="effectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element name="isCloseout" nillable="true" type="xs:boolean" />
      <xs:element name="isCaution" nillable="true" type="xs:boolean" />
      <xs:element name="cautionComment" type="xs:token" />
      <xs:element name="nmfcCode" type="xs:decimal" />
      <xs:element name="nmfcDescription" type="xs:token" />
      <xs:element name="nmfcNumber" type="xs:token" />
      <xs:element name="isOnDemand" nillable="true" type="xs:boolean" />
      <xs:element name="isHazmat" nillable="true" type="xs:boolean" />
      <xs:element name="lineName" type="xs:token" />
      <xs:element name="defaultSetupCharge" type="xs:token" />
      <xs:element name="defaultRunCharge" type="xs:token" />
      <xs:element name="imprintSize" type="xs:token" />
      <xs:element name="FobPointArray" type="tns:ArrayOfFobPoint" />
      <xs:complexType name="ArrayOfFobPoint">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FobPoint">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="fobId" type="xs:token" />
                <xs:element minOccurs="0" maxOccurs="1" name="fobCity" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="fobState" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="fobPostalCode" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="fobCountry" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ServiceMessageArray" type="tns:ArrayOfServiceMessage" />
      <xs:complexType name="ArrayOfServiceMessage">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceMessage">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:int" />
                <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:token" />
                <xs:element minOccurs="1" maxOccurs="1" name="severity" type="tns:ServiceMessageSeverity" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ServiceMessageSeverity">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Error" />
          <xs:enumeration value="Information" />
          <xs:enumeration value="Warning" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="changeTimeStamp" type="xs:dateTime" />
      <xs:element name="isSellable" type="xs:boolean" />
      <xs:element name="culturePoint" type="xs:token" />
    </xs:schema>
    <xs:schema xmlns:tns="http://www.isotc211.org/iso4217/" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/iso4217/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="CurrencyCodeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AFA" />
          <xs:enumeration value="ALL" />
          <xs:enumeration value="DZD" />
          <xs:enumeration value="AON" />
          <xs:enumeration value="ARS" />
          <xs:enumeration value="AMD" />
          <xs:enumeration value="AWG" />
          <xs:enumeration value="AUD" />
          <xs:enumeration value="ATS" />
          <xs:enumeration value="AZM" />
          <xs:enumeration value="BSD" />
          <xs:enumeration value="BHD" />
          <xs:enumeration value="BDT" />
          <xs:enumeration value="BBD" />
          <xs:enumeration value="BYR" />
          <xs:enumeration value="BEF" />
          <xs:enumeration value="BZD" />
          <xs:enumeration value="BMD" />
          <xs:enumeration value="BTN" />
          <xs:enumeration value="BOB" />
          <xs:enumeration value="BAM" />
          <xs:enumeration value="BWP" />
          <xs:enumeration value="BRL" />
          <xs:enumeration value="BND" />
          <xs:enumeration value="BGL" />
          <xs:enumeration value="BIF" />
          <xs:enumeration value="KHR" />
          <xs:enumeration value="CAD" />
          <xs:enumeration value="CVE" />
          <xs:enumeration value="KYD" />
          <xs:enumeration value="XOF" />
          <xs:enumeration value="XAF" />
          <xs:enumeration value="XPF" />
          <xs:enumeration value="CLP" />
          <xs:enumeration value="CNY" />
          <xs:enumeration value="COP" />
          <xs:enumeration value="KMF" />
          <xs:enumeration value="CDF" />
          <xs:enumeration value="CRC" />
          <xs:enumeration value="HRK" />
          <xs:enumeration value="CUP" />
          <xs:enumeration value="CYP" />
          <xs:enumeration value="CZK" />
          <xs:enumeration value="DKK" />
          <xs:enumeration value="DEM" />
          <xs:enumeration value="DJF" />
          <xs:enumeration value="DOP" />
          <xs:enumeration value="NLG" />
          <xs:enumeration value="XCD" />
          <xs:enumeration value="ECS" />
          <xs:enumeration value="EGP" />
          <xs:enumeration value="SVC" />
          <xs:enumeration value="ERN" />
          <xs:enumeration value="EEK" />
          <xs:enumeration value="ETB" />
          <xs:enumeration value="EUR" />
          <xs:enumeration value="FKP" />
          <xs:enumeration value="FJD" />
          <xs:enumeration value="FIM" />
          <xs:enumeration value="FRF" />
          <xs:enumeration value="GMD" />
          <xs:enumeration value="GEL" />
          <xs:enumeration value="GHC" />
          <xs:enumeration value="GIP" />
          <xs:enumeration value="GRD" />
          <xs:enumeration value="GTQ" />
          <xs:enumeration value="GYD" />
          <xs:enumeration value="HTG" />
          <xs:enumeration value="HNL" />
          <xs:enumeration value="HKD" />
          <xs:enumeration value="HUF" />
          <xs:enumeration value="ISK" />
          <xs:enumeration value="INR" />
          <xs:enumeration value="IDR" />
          <xs:enumeration value="IRR" />
          <xs:enumeration value="IQD" />
          <xs:enumeration value="IEP" />
          <xs:enumeration value="ILS" />
          <xs:enumeration value="ITL" />
          <xs:enumeration value="JMD" />
          <xs:enumeration value="JPY" />
          <xs:enumeration value="JOD" />
          <xs:enumeration value="KZT" />
          <xs:enumeration value="KES" />
          <xs:enumeration value="KWD" />
          <xs:enumeration value="KGS" />
          <xs:enumeration value="LAK" />
          <xs:enumeration value="LVL" />
          <xs:enumeration value="LBP" />
          <xs:enumeration value="LSL" />
          <xs:enumeration value="LRD" />
          <xs:enumeration value="LYD" />
          <xs:enumeration value="LTL" />
          <xs:enumeration value="LUF" />
          <xs:enumeration value="MOP" />
          <xs:enumeration value="MKD" />
          <xs:enumeration value="MGF" />
          <xs:enumeration value="MWK" />
          <xs:enumeration value="MYR" />
          <xs:enumeration value="MVR" />
          <xs:enumeration value="MTL" />
          <xs:enumeration value="MRO" />
          <xs:enumeration value="MUR" />
          <xs:enumeration value="MXN" />
          <xs:enumeration value="MDL" />
          <xs:enumeration value="MNT" />
          <xs:enumeration value="MAD" />
          <xs:enumeration value="MZM" />
          <xs:enumeration value="MMK" />
          <xs:enumeration value="NAD" />
          <xs:enumeration value="NPR" />
          <xs:enumeration value="ANG" />
          <xs:enumeration value="ZRN" />
          <xs:enumeration value="NZD" />
          <xs:enumeration value="NIC" />
          <xs:enumeration value="NGN" />
          <xs:enumeration value="KPW" />
          <xs:enumeration value="NOK" />
          <xs:enumeration value="PKR" />
          <xs:enumeration value="PAB" />
          <xs:enumeration value="PGK" />
          <xs:enumeration value="PYG" />
          <xs:enumeration value="PEN" />
          <xs:enumeration value="PHP" />
          <xs:enumeration value="PLN" />
          <xs:enumeration value="PTE" />
          <xs:enumeration value="QAR" />
          <xs:enumeration value="OMR" />
          <xs:enumeration value="ROL" />
          <xs:enumeration value="RUR" />
          <xs:enumeration value="RWF" />
          <xs:enumeration value="STD" />
          <xs:enumeration value="SAR" />
          <xs:enumeration value="SCR" />
          <xs:enumeration value="SLL" />
          <xs:enumeration value="SGD" />
          <xs:enumeration value="SKK" />
          <xs:enumeration value="SIT" />
          <xs:enumeration value="SBD" />
          <xs:enumeration value="SOS" />
          <xs:enumeration value="ZAR" />
          <xs:enumeration value="KRW" />
          <xs:enumeration value="ESP" />
          <xs:enumeration value="LKR" />
          <xs:enumeration value="SHP" />
          <xs:enumeration value="GBP" />
          <xs:enumeration value="SDP" />
          <xs:enumeration value="SRG" />
          <xs:enumeration value="SZL" />
          <xs:enumeration value="SEK" />
          <xs:enumeration value="CHF" />
          <xs:enumeration value="SYP" />
          <xs:enumeration value="TWD" />
          <xs:enumeration value="TJR" />
          <xs:enumeration value="TZS" />
          <xs:enumeration value="THB" />
          <xs:enumeration value="TPE" />
          <xs:enumeration value="TOP" />
          <xs:enumeration value="TTD" />
          <xs:enumeration value="TND" />
          <xs:enumeration value="TRL" />
          <xs:enumeration value="TMM" />
          <xs:enumeration value="AED" />
          <xs:enumeration value="UGX" />
          <xs:enumeration value="UAH" />
          <xs:enumeration value="UYU" />
          <xs:enumeration value="USD" />
          <xs:enumeration value="UZS" />
          <xs:enumeration value="VUV" />
          <xs:enumeration value="VEB" />
          <xs:enumeration value="VND" />
          <xs:enumeration value="WST" />
          <xs:enumeration value="YER" />
          <xs:enumeration value="YUM" />
          <xs:enumeration value="ZMK" />
          <xs:enumeration value="ZWD" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.codesynthesis.com/xmlns/xsstl" elementFormDefault="qualified" targetNamespace="http://www.codesynthesis.com/xmlns/xsstl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="countryOfOrigin">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AF" />
          <xs:enumeration value="AX" />
          <xs:enumeration value="AL" />
          <xs:enumeration value="DZ" />
          <xs:enumeration value="AS" />
          <xs:enumeration value="AD" />
          <xs:enumeration value="AO" />
          <xs:enumeration value="AI" />
          <xs:enumeration value="AQ" />
          <xs:enumeration value="AG" />
          <xs:enumeration value="AR" />
          <xs:enumeration value="AM" />
          <xs:enumeration value="AW" />
          <xs:enumeration value="AU" />
          <xs:enumeration value="AT" />
          <xs:enumeration value="AZ" />
          <xs:enumeration value="BS" />
          <xs:enumeration value="BH" />
          <xs:enumeration value="BD" />
          <xs:enumeration value="BB" />
          <xs:enumeration value="BY" />
          <xs:enumeration value="BE" />
          <xs:enumeration value="BZ" />
          <xs:enumeration value="BJ" />
          <xs:enumeration value="BM" />
          <xs:enumeration value="BT" />
          <xs:enumeration value="BO" />
          <xs:enumeration value="BA" />
          <xs:enumeration value="BW" />
          <xs:enumeration value="BV" />
          <xs:enumeration value="BR" />
          <xs:enumeration value="IO" />
          <xs:enumeration value="BN" />
          <xs:enumeration value="BG" />
          <xs:enumeration value="BF" />
          <xs:enumeration value="BI" />
          <xs:enumeration value="KH" />
          <xs:enumeration value="CM" />
          <xs:enumeration value="CA" />
          <xs:enumeration value="CV" />
          <xs:enumeration value="KY" />
          <xs:enumeration value="CF" />
          <xs:enumeration value="TD" />
          <xs:enumeration value="CL" />
          <xs:enumeration value="CN" />
          <xs:enumeration value="CX" />
          <xs:enumeration value="CC" />
          <xs:enumeration value="CO" />
          <xs:enumeration value="KM" />
          <xs:enumeration value="CG" />
          <xs:enumeration value="CD" />
          <xs:enumeration value="CK" />
          <xs:enumeration value="CR" />
          <xs:enumeration value="CI" />
          <xs:enumeration value="HR" />
          <xs:enumeration value="CU" />
          <xs:enumeration value="CY" />
          <xs:enumeration value="CZ" />
          <xs:enumeration value="DK" />
          <xs:enumeration value="DJ" />
          <xs:enumeration value="DM" />
          <xs:enumeration value="DO" />
          <xs:enumeration value="EC" />
          <xs:enumeration value="EG" />
          <xs:enumeration value="SV" />
          <xs:enumeration value="GQ" />
          <xs:enumeration value="ER" />
          <xs:enumeration value="EE" />
          <xs:enumeration value="ET" />
          <xs:enumeration value="FK" />
          <xs:enumeration value="FO" />
          <xs:enumeration value="FJ" />
          <xs:enumeration value="FI" />
          <xs:enumeration value="FR" />
          <xs:enumeration value="GF" />
          <xs:enumeration value="PF" />
          <xs:enumeration value="TF" />
          <xs:enumeration value="GA" />
          <xs:enumeration value="GM" />
          <xs:enumeration value="GE" />
          <xs:enumeration value="DE" />
          <xs:enumeration value="GH" />
          <xs:enumeration value="GI" />
          <xs:enumeration value="GR" />
          <xs:enumeration value="GL" />
          <xs:enumeration value="GD" />
          <xs:enumeration value="GP" />
          <xs:enumeration value="GU" />
          <xs:enumeration value="GT" />
          <xs:enumeration value="GG" />
          <xs:enumeration value="GN" />
          <xs:enumeration value="GW" />
          <xs:enumeration value="GY" />
          <xs:enumeration value="HT" />
          <xs:enumeration value="HM" />
          <xs:enumeration value="VA" />
          <xs:enumeration value="HN" />
          <xs:enumeration value="HK" />
          <xs:enumeration value="HU" />
          <xs:enumeration value="IS" />
          <xs:enumeration value="IN" />
          <xs:enumeration value="ID" />
          <xs:enumeration value="IR" />
          <xs:enumeration value="IQ" />
          <xs:enumeration value="IE" />
          <xs:enumeration value="IM" />
          <xs:enumeration value="IL" />
          <xs:enumeration value="IT" />
          <xs:enumeration value="JM" />
          <xs:enumeration value="JP" />
          <xs:enumeration value="JE" />
          <xs:enumeration value="JO" />
          <xs:enumeration value="KZ" />
          <xs:enumeration value="KE" />
          <xs:enumeration value="KI" />
          <xs:enumeration value="KP" />
          <xs:enumeration value="KR" />
          <xs:enumeration value="KW" />
          <xs:enumeration value="KG" />
          <xs:enumeration value="LA" />
          <xs:enumeration value="LV" />
          <xs:enumeration value="LB" />
          <xs:enumeration value="LS" />
          <xs:enumeration value="LR" />
          <xs:enumeration value="LY" />
          <xs:enumeration value="LI" />
          <xs:enumeration value="LT" />
          <xs:enumeration value="LU" />
          <xs:enumeration value="MO" />
          <xs:enumeration value="MK" />
          <xs:enumeration value="MG" />
          <xs:enumeration value="MW" />
          <xs:enumeration value="MY" />
          <xs:enumeration value="MV" />
          <xs:enumeration value="ML" />
          <xs:enumeration value="MT" />
          <xs:enumeration value="MH" />
          <xs:enumeration value="MQ" />
          <xs:enumeration value="MR" />
          <xs:enumeration value="MU" />
          <xs:enumeration value="YT" />
          <xs:enumeration value="MX" />
          <xs:enumeration value="FM" />
          <xs:enumeration value="MD" />
          <xs:enumeration value="MC" />
          <xs:enumeration value="MN" />
          <xs:enumeration value="MS" />
          <xs:enumeration value="MA" />
          <xs:enumeration value="MZ" />
          <xs:enumeration value="MM" />
          <xs:enumeration value="NA" />
          <xs:enumeration value="NR" />
          <xs:enumeration value="NP" />
          <xs:enumeration value="NL" />
          <xs:enumeration value="AN" />
          <xs:enumeration value="NC" />
          <xs:enumeration value="NZ" />
          <xs:enumeration value="NI" />
          <xs:enumeration value="NE" />
          <xs:enumeration value="NG" />
          <xs:enumeration value="NU" />
          <xs:enumeration value="NF" />
          <xs:enumeration value="MP" />
          <xs:enumeration value="NO" />
          <xs:enumeration value="OM" />
          <xs:enumeration value="PK" />
          <xs:enumeration value="PW" />
          <xs:enumeration value="PS" />
          <xs:enumeration value="PA" />
          <xs:enumeration value="PG" />
          <xs:enumeration value="PY" />
          <xs:enumeration value="PE" />
          <xs:enumeration value="PH" />
          <xs:enumeration value="PN" />
          <xs:enumeration value="PL" />
          <xs:enumeration value="PT" />
          <xs:enumeration value="PR" />
          <xs:enumeration value="QA" />
          <xs:enumeration value="RE" />
          <xs:enumeration value="RO" />
          <xs:enumeration value="RU" />
          <xs:enumeration value="RW" />
          <xs:enumeration value="SH" />
          <xs:enumeration value="KN" />
          <xs:enumeration value="LC" />
          <xs:enumeration value="PM" />
          <xs:enumeration value="VC" />
          <xs:enumeration value="WS" />
          <xs:enumeration value="SM" />
          <xs:enumeration value="ST" />
          <xs:enumeration value="SA" />
          <xs:enumeration value="SN" />
          <xs:enumeration value="CS" />
          <xs:enumeration value="SC" />
          <xs:enumeration value="SL" />
          <xs:enumeration value="SG" />
          <xs:enumeration value="SK" />
          <xs:enumeration value="SI" />
          <xs:enumeration value="SB" />
          <xs:enumeration value="SO" />
          <xs:enumeration value="ZA" />
          <xs:enumeration value="GS" />
          <xs:enumeration value="ES" />
          <xs:enumeration value="LK" />
          <xs:enumeration value="SD" />
          <xs:enumeration value="SR" />
          <xs:enumeration value="SJ" />
          <xs:enumeration value="SZ" />
          <xs:enumeration value="SE" />
          <xs:enumeration value="CH" />
          <xs:enumeration value="SY" />
          <xs:enumeration value="TW" />
          <xs:enumeration value="TJ" />
          <xs:enumeration value="TZ" />
          <xs:enumeration value="TH" />
          <xs:enumeration value="TL" />
          <xs:enumeration value="TG" />
          <xs:enumeration value="TK" />
          <xs:enumeration value="TO" />
          <xs:enumeration value="TT" />
          <xs:enumeration value="TN" />
          <xs:enumeration value="TR" />
          <xs:enumeration value="TM" />
          <xs:enumeration value="TC" />
          <xs:enumeration value="TV" />
          <xs:enumeration value="UG" />
          <xs:enumeration value="UA" />
          <xs:enumeration value="AE" />
          <xs:enumeration value="GB" />
          <xs:enumeration value="US" />
          <xs:enumeration value="UM" />
          <xs:enumeration value="UY" />
          <xs:enumeration value="UZ" />
          <xs:enumeration value="VU" />
          <xs:enumeration value="VE" />
          <xs:enumeration value="VN" />
          <xs:enumeration value="VG" />
          <xs:enumeration value="VI" />
          <xs:enumeration value="WF" />
          <xs:enumeration value="EH" />
          <xs:enumeration value="YE" />
          <xs:enumeration value="ZM" />
          <xs:enumeration value="ZW" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetProductRequestMessage">
    <wsdl:part name="GetProductRequest" element="tns:GetProductRequest" />
  </wsdl:message>
  <wsdl:message name="GetProductResponseMessage">
    <wsdl:part name="GetProductResponse" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDateModifiedRequestMessage">
    <wsdl:part name="GetProductDateModifiedRequest" element="tns:GetProductDateModifiedRequest" />
  </wsdl:message>
  <wsdl:message name="GetProductDateModifiedResponseMessage">
    <wsdl:part name="GetProductDateModifiedResponse" element="tns:GetProductDateModifiedResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductCloseOutRequestMessage">
    <wsdl:part name="GetProductCloseOutRequest" element="tns:GetProductCloseOutRequest" />
  </wsdl:message>
  <wsdl:message name="GetProductCloseOutResponseMessage">
    <wsdl:part name="GetProductCloseOutResponse" element="tns:GetProductCloseOutResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductSellableRequestMessage">
    <wsdl:part name="GetProductSellableRequest" element="tns:GetProductSellableRequest" />
  </wsdl:message>
  <wsdl:message name="GetProductSellableResponseMessage">
    <wsdl:part name="GetProductSellableResponse" element="tns:GetProductSellableResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductDataService">
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="getProduct" name="GetProductRequestMessage" message="tns:GetProductRequestMessage" />
      <wsdl:output wsaw:Action="getProduct" name="GetProductResponseMessage" message="tns:GetProductResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductDateModified">
      <wsdl:input wsaw:Action="getProductDateModified" name="GetProductDateModifiedRequestMessage" message="tns:GetProductDateModifiedRequestMessage" />
      <wsdl:output wsaw:Action="getProductDateModified" name="GetProductDateModifiedResponseMessage" message="tns:GetProductDateModifiedResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductCloseOut">
      <wsdl:input wsaw:Action="getProductCloseOut" name="GetProductCloseOutRequestMessage" message="tns:GetProductCloseOutRequestMessage" />
      <wsdl:output wsaw:Action="getProductCloseOut" name="GetProductCloseOutResponseMessage" message="tns:GetProductCloseOutResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductSellable">
      <wsdl:input wsaw:Action="getProductSellable" name="GetProductSellableRequestMessage" message="tns:GetProductSellableRequestMessage" />
      <wsdl:output wsaw:Action="getProductSellable" name="GetProductSellableResponseMessage" message="tns:GetProductSellableResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductDataServiceBinding_ProductDataService" type="tns:ProductDataService">
    <wsp:PolicyReference URI="#ProductDataServiceBinding_ProductDataService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="getProduct" style="document" />
      <wsdl:input name="GetProductRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProductResponseMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductDateModified">
      <soap:operation soapAction="getProductDateModified" style="document" />
      <wsdl:input name="GetProductDateModifiedRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProductDateModifiedResponseMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductCloseOut">
      <soap:operation soapAction="getProductCloseOut" style="document" />
      <wsdl:input name="GetProductCloseOutRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProductCloseOutResponseMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductSellable">
      <soap:operation soapAction="getProductSellable" style="document" />
      <wsdl:input name="GetProductSellableRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProductSellableResponseMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductDataService">
    <wsdl:port name="ProductDataServiceBinding_ProductDataService" binding="tns:ProductDataServiceBinding_ProductDataService">
      <soap:address location="https://psproductdata200.pcna.online/psProductData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>